<div class="wrapper">
<div class="group">
    group period
</div>
<div class="column-name" *ngFor="let col of colLabels" [title]="col">
    {{col}}
</div>
<div class="row-name" *ngFor="let row of rowLabels" [title]="row">
    <div>
    {{row}}
    </div>
</div>
<div class="all-elements">
    <div class="no-element-space1" > </div>
    <div class="no-element-space2" > 
        <div *ngIf="displayInfo" >
            {{displayElement.summary}}
        </div>

    </div>
<div class="element" *ngFor="let element of elementsData; let i = index; "
[ngClass]="getClassName(element)"(click) ="showInfo(element)">
    {{element.symbol}}
    {{element.number}}

</div>
   
<div class="lanthanides_actinides">
    <div class="lanthanides">
        <div class="lanthanide" *ngFor="let lanthanide of lanthanides;">
        {{lanthanide.symbol}}
        {{lanthanide.number}}
        </div>
    </div>
    <div class="actinides" >
        <div class="actinide" *ngFor="let actinide of actinides">
        {{actinide.symbol}}
        {{actinide.number}}
        </div>

     </div>
</div>
</div>

</div>
